.filter-title {
  color: #21243d;
  letter-spacing: .08rem;
  text-transform: uppercase;
  border: none;
  padding-bottom: 1rem;
  font-size: .678rem;
  font-weight: 600;
  line-height: 1.6;
}

.ant-switch-inner {
  background-color: #e2a400;
}

.ratings-count {
  color: rgba(33, 36, 61, .8);
  letter-spacing: 1.1px;
  background-color: rgba(65, 66, 71, .08);
  border-radius: 4px;
  align-items: center;
  margin-left: 8px;
  padding: 0 4px;
  font-size: .64rem;
  font-weight: 600;
  display: flex
}